<div class="container">
    <h2>College Details</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>College Name</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Website</th>
                <th>Location</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let college of colleges; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    {{college.collegeName}}
                </td>
                <td>
                  {{college.contactPerson}}
                </td>
                <td>
            {{college.email}}
                </td>
                <td>
               {{college.phoneNumber}}
                </td>
                <td>
                   {{college.website}}
                </td>
                <td>
                    {{college.location}}
                </td>
                <td>
                    {{ college.category.categoryName}}
                </td> 
          
            </tr>

        </tbody>
    </table>
    <button (click)="redirectToUserPage()">HOME</button>
    <button class="btn btn-primary" (click)="redirectToCollege()">Add College</button>
</div>
