
<body>
  <button (click)="redirectToUserPage()">HOME</button>
<div class="registration-form-container">
  <img src="http://infiniteiotdevices.com/images/png1.png" class="user">
  <h2>Registration Form</h2>
  
	

  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <!-- <div class="flex-row">
      <div class="form-group" >
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="user.name"
          required
        />
      </div>
  
      <div class="form-group" style="margin-left: 20px;">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" />
      </div>
    </div> -->
    <div class="form-group" >
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="user.name"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
      />
    </div>

    <div class="form-group" *ngIf="areRolesAdded">
      <label> Role</label>
      <select
        class="form-select"
        #Role="ngModel"
        name="role"
        [(ngModel)]="user.role.role_id"
      >
        <option value="none" selected disabled>Select Role</option>
        <option *ngFor="let role of Roles" [value]="role.role_id">
          {{ role.role }}
        </option>
      </select>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth </label>
        <input
          type="text"
          id="dob"
          name="dob"
          [(ngModel)]="user.dateOfBirth"
          pattern="\d{4}-\d{2}-\d{2}"
          placeholder="YYYY-MM-DD"
          required
        />
      </div>

      <div class="form-group">
        <label for="bloodGroup">Blood Group</label>
        <input
          type="text"
          id="bloodGroup"
          name="bloodGroup"
          [(ngModel)]="user.bloodGroup"
        />
      </div>

      <div class="form-group">
        <label>Gender</label>
        <div class="checkbox">
          <div class="form-check">
            <input
              type="radio"
              id="male"
              name="gender"
              [(ngModel)]="user.gender"
              value="Male"
              class="form-check-input"
            />
            <label for="male" class="form-check-label">Male</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="female"
              name="gender"
              [(ngModel)]="user.gender"
              value="Female"
              class="form-check-input"
            />
            <label for="female" class="form-check-label">Female</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="other"
              name="gender"
              [(ngModel)]="user.gender"
              value="Other"
              class="form-check-input"
            />
            <label for="other" class="form-check-label">Other</label>
          </div>
        </div>
      </div>
      <br>  <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          id="phoneNumber"
          name="phoneNumber"
          [(ngModel)]="user.phoneNumber"
          pattern="[1-9][0-9]{9}" 
          required
        />
      </div> 

      <!-- <div class="form-group">
      <label for="phone">Phone Number:</label>
<input
  type="text"
  id="phoneNumber"
          name="phoneNumber"
  [(ngModel)]="user.phoneNumber"
  pattern=" [1-9][0-9]{9}"
  title="Phone number must be 10 digits and should not start with 0."
  required
/>
</div> -->

      <div class="form-group">
        <label for="alternateNumber">Alternate Number</label>
        <input
          type="tel"
          id="alternateNumber"
          name="alternateNumber"
          [(ngModel)]="user.alternateNumber"
          pattern="\d{10}"
          required
        />
      </div>

      <div class="form-group">
        <label for="address">Present Address</label>
        <textarea
          type="text"
          id="address"
          name="address"
          [(ngModel)]="user.address"
          required></textarea>
      </div>

      <div class="form-group">
        <label for="permanentAddress">Permanent Address</label>
        <textarea
          type="text"
          id="permanentAddress"
          name="permanentAddress"
          [(ngModel)]="user.permanentAddress"
          required></textarea>
        
        <!-- <input type="checkbox" id="filladdress" name="filladdress" onclick="fillAddress()" /> same as present address.<br />
      </div> -->
   
        <input type="checkbox" id="filladdress" name="filladdress" (change)="fillAddress()" />
        <label for="filladdress">Same as present address</label>
      </div>
      


    <div class="form-group">
      <!-- <label for="avatar">Avatar</label>
      <input type="file" id="avatar" formControlName="avatar" /> -->
      <!-- You can add an image preview if needed -->
    </div>

    <button type="submit" [disabled]="registrationForm.form.invalid">
      Register
    </button>
  </form>
</div>
</body>