

    <button (click)="redirectToRegister()">Add Employee</button> 
      <button (click)="redirectToAllCategory()">Add category</button>  
     <button (click)="redirectToAllCategory()">View category</button> 
 
    <div class="container">
      <div class="header">
        <app-header></app-header>
      </div>
      <div class="main-container">
        <div class="side-nav">
          <app-side-nav></app-side-nav>
        </div>
        <div class="main">
          <app-main></app-main>
        </div>
      </div>
    </div>