<div class="category-form-container">
    <h2>Add category</h2>
  
    <form  (ngSubmit)="onSubmit()" #categoryForm ="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="categoryName" [(ngModel)]="category.categoryName" />
      </div>
  
      <div class="form-group">
        <label for="Profile">Profile</label>
        <input type="text" id="categoryName" name="categoryRole" [(ngModel)]="category.categoryRole"/>
      </div>
  
      <div class="form-group">
        <label for="ctc">CTC</label>
        <input type="number" id="ctc" name="ctc"  pattern="\d{1,2}"  [(ngModel)]="category.ctc"/>
      </div>
      <button type="submit" [disabled]="categoryForm.form.invalid">Add</button>
  </form>
</div>
